p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.exercise {
  background-color: rgba(217,95,2, 0.1);
  padding: 20px;
margin: 10px 5px 10px 5px;}